.mainthread-container {
    
  height:100vh ;

}
.forum-list{
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #FF0000;
}

.forum-list-general{
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: #FF0000;
}

.forum-main{
  margin: 10px;
}
.thread-title {
  font-size: 16px;
}

.thread-container {
  width: 60%;
  font-size:30px;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #FFFFFF;
  color: #000000;
}

.thread-heading {
  color: aqua;
}

.add-button {
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.description-column {
  width: 50%;
}

.view-button {
  background-color: grey;
  color: #FFFFFF;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

.update-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 8px;
}

.delete-button {
  background-color: #FF0000;
  color: #FFFFFF;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.container-fluid mt-4{
  font-size: 30px;
}