.loginSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loginsignup-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .loginsignup-container h1 {
    margin-bottom: 20px;
  }
  
  .loginsignup-fields input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loginsignup-fields input::placeholder {
    color: #999;
  }
  
  .loginsignup-agree {
    margin-top: 10px;
    text-align: left;
  }
  
  .loginsignup-agree input {
    margin-right: 10px;
  }
  
  .loginsignup-agree p {
    font-size: 12px;
    color: #666;
  }
  
  .loginSignup-button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff002f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #b30000;
  }
  
  .loginsignup-login {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .loginsignup-login span {
    color: #ff0000;
    cursor: pointer;
  }
  